/*
Theme Name:     school3
Theme URI:      http://school3.uxp.ru/
Description:    Дочерняя тема для темы hamroclass 
Author:         Nemolite (sergey vushnyakov)
Author URI:     http://vandraren.ru/
Template:       hamroclass
Version:        1.0.0
*/
@import url("../hamroclass/style.css");