.school3_baner {
  width: 100%;
  height: 100px;
  border: 1px solid #0f233a;
  margin-bottom: 5px;
}

.school3_baner-img {
  width: 30%;
  height: 100px;
  float: left;
  padding: 5px;
}

.school3_baner-img img {
  width: 100px;
  height: 88px;
}

.school3_baner-text {
  width: 69%;
  height: 100px;
  float: left;
  padding: 5px;
}

body.right-sidebar .main-content-area {
  margin-bottom: 40px;
}

#fix-hmc-post-title a {
  text-transform: none;
}

/**
 * Средний слайдер
 */
.middle-slider {
  width: 100%;
  height: 500px;
}

.middle-slider__images {
  float: left;
  width: 70%;
  height: 500px;
  padding-right: 20px;
}

.middle-slider__banners {
  float: left;
  width: 29.8%;
  height: 500px;
}

/**
 * Яндекс карты
 */
 .middle-yandex {
  width: 100%;
  height: 500px;
}

.middle-yandex__images {
  float: left;
  width: 70%;
  height: 500px;
  padding-right: 20px;
  border:1px solid red;
}

.middle-yandex__banners {
  float: left;
  width: 29.8%;
  height: 500px;
}

.section-title-doc {
  font-size: 30px;
  font-weight: 500;  
  margin-bottom: 30px;
  padding-bottom: 10px;  
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.section-title-doc span:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #ed9532;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* page-news*/

.news__block {
  width: 100%;
  height: auto;
  border: 1px dotted #0f233a;
  margin-bottom: 10px;
  padding: 20px;
}

.news__block h5{
  font-size: 16px;
}
