.school3_baner {
  width: 100%;
  height: 100px;
  border: 1px solid #0f233a;
  margin-bottom: 5px;
}

.school3_baner-img {
  width: 30%;
  height: 100px;
  float: left;
  padding: 5px;
}

.school3_baner-img img {
  width: 100px;
  height: 88px;
}

.school3_baner-text {
  width: 69%;
  height: 100px;
  float: left;
  padding: 5px;
}

body.right-sidebar .main-content-area {
  margin-bottom: 40px;
}

#fix-hmc-post-title a {
  text-transform: none;
}
